    .top_container{
     background-color: #faff71;
    }
    body {
    margin: 0px;
    text-align: center;
    }
    h1 {
    margin-top: 0px;
     }
    .underline{
        text-decoration: underline;
    }
    .top_cloud{
        position: absolute;
    }
    .bottom_cloud{
        position: absolute;
    }
 